.logo {
  width: 15.0625rem; /* 241px */
  height: 2rem; /* 32px */
}

@screen sm {
  .logo {
    width: 20.4375rem; /* 327px */
    height: 2.625rem; /* 42px */
  }
}

.nav {
  height: 5rem;
}

@screen lg {
  .nav {
    height: 6.25rem;
  }
}

.navLink {
  /*
    The .nav-link tailwind class applied also has line-height which seems to be
    taking precedence. Most likely cause it appears last in the compiled css,
    which is how Tailwind v2 works. Not really sure how to avoid this though.
  */
  line-height: 6.25rem !important;
  vertical-align: middle;
  transition: all 0.3s;
}

.latest {
  transition: all 0.3s;
}
