.purchaseListItem {
  margin: 0.5rem 0;
}

.purchaseListItem a {
  padding: 0.5rem 1rem;
}

.purchaseListItem:not(:first-child) {
  @apply lg:border-l lg:border-gray-border;
}

.description p {
  @apply mb-6;
}

.description p:last-child {
  margin-bottom: 0;
}
